@model PagedList.IPagedList<AppTest.Models.SinhVien>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <form method="get" action="@Url.Action("Index")">
        <div class="input-group mb-3">
            <input type="text" name="search" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="searchButton">
            <button class="btn btn-primary" type="submit" id="searchButton">Search</button>
        </div>
    </form>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoVaTen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LaLopPho)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LaLopTruong)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LaToTruong)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdChucVuNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoVaTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LaLopPho)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LaLopTruong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LaToTruong)
                    </td>
                    <td>
                        @(item.IdChucVuNavigation == null ? "" : item.IdChucVuNavigation.TenChucVu)
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination-container">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = Request.Query["search"] }),
        PagedListRenderOptions.DefaultOptions)
    </div>
</div>
